<!DOCTYPE html>
<html lang="ja" layout:decorate="~{layout.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>サンプル作成</title>
</head>
<body>
<section layout:fragment="content">
  <h1>サンプル作成</h1>
  <form method="post" th:action="@{/sample/create}" th:object="${createForm}">
    <div>
      <label>
        内容
        <input th:errorclass="invalid" th:field="*{body}" type="text"/>
      </label>
      <span class="text-error" th:errors="*{body}" th:if="${#fields.hasErrors('body')}"></span>
    </div>
    <input type="submit">
  </form>
</section>
</body>
</html>